@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  color: red;

}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -4.5px;
  margin-bottom: 30px;
  text-align: center;
  color: red;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #2E2F30;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h33{
  font-size: 2.2em;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #B00100;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: red;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #eaeaea ;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #B00100;
    }
  }
  small {
    font-size: 0.95em;
    color: #555;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.sign-up-fb {
  color: #EEE;
  background-color: #2E2F30;
  border-color: #666;
  &:hover {
    background-color: #3A5795;
    border-color: #2E2F30;
  }
}

.sign-up-st{
  color: #EEE;
  background-color: #2E2F30;
  border-color: #666;
  &:hover {
    background-color: #777777;
    border-color: #2E2F30;
  }
}

.sign-up-tw{
  color: #EEE;
  background-color: #2E2F30;
  border-color: #666;
  &:hover {
    background-color: #3B88C3;
    border-color: #2E2F30;
  }
}

.sign-up-vk{
  color: #EEE;
  background-color: #2E2F30;
  border-color: #666;
  &:hover {
    background-color: #2B587A;
    border-color: #2E2F30;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }
}
