<footer class="footer">
  <small>
    Cool Collage .incorporated
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>